# 질문: K-beauty는 성장하고 있을까? 해외 직접 판매를 한다면 어느 국가로 판매 전략을 세우면 좋을까?

# 필요 라이브러리 가져오기

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os
if os.name=='posix':
    sns.set(font="AppleGothic")

In [4]:
%config InlineBackend.figure_format = "retina"

# 데이터 로드하기

In [7]:
df_raw = pd.read_csv("data/국가_대륙_별_상품군별_온라인쇼핑_해외직접판매액_20210823091222.csv"
                     , encoding="cp949")
df_raw.head(3)

,국가(대륙)별,상품군별,판매유형별,2014 4/4,2015 1/4,2015 2/4,2015 3/4,2015 4/4,2016 1/4,2016 2/4,...,2017 3/4,2017 4/4,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4
0,합계,합계,계,213216,269101,271784,268421,450568,511395,494391,...,749612,858240,833672,897205,921586,974060,1251122,1345723,1526135,1881628
1,합계,합계,면세점,-,-,-,-,-,-,-,...,610630,677884,665613,725319,761836,770656,1070693,1157158,1336372,1655635
2,합계,합계,면세점 이외,-,-,-,-,-,-,-,...,138982,180356,168059,171886,159750,203404,180429,188565,189763,225993

In [9]:
df_raw["국가(대륙)별"].value_counts()

대양주           45
일본            45
중국            45
아세안(ASEAN)    45
중동            45
미국            45
유럽연합(EU)      45
기타            45
합계            45
중남미           45
Name: 국가(대륙)별, dtype: int64

In [12]:
df_raw[df_raw["국가(대륙)별"] == "미국"]

,국가(대륙)별,상품군별,판매유형별,2014 4/4,2015 1/4,2015 2/4,2015 3/4,2015 4/4,2016 1/4,2016 2/4,...,2017 3/4,2017 4/4,2018 1/4,2018 2/4,2018 3/4,2018 4/4,2019 1/4,2019 2/4,2019 3/4,2019 4/4
45,미국,합계,계,26729,39945,26654,28647,37392,38179,36831,...,41927,53209,42679,40207,37631,48978,40985,44973,55512,54054
46,미국,합계,면세점,-,-,-,-,-,-,-,...,9469,12177,5184,3603,2317,2079,2657,2951,1818,1481
47,미국,합계,면세점 이외,-,-,-,-,-,-,-,...,32458,41032,37495,36604,35314,46899,38328,42022,53694,52573
48,미국,컴퓨터 및 주변기기,계,1675,1469,1393,2166,2362,2533,2121,...,791,854,2033,1553,1784,1774,1298,1408,1653,1383
49,미국,컴퓨터 및 주변기기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,1,0,0,0,0
50,미국,컴퓨터 및 주변기기,면세점 이외,-,-,-,-,-,-,-,...,791,854,2033,1553,1784,1773,1298,1408,1653,1383
51,미국,가전·전자·통신기기,계,3527,4397,3589,2982,3286,3571,2921,...,2575,2394,1737,1716,1723,1886,1845,1837,3166,1787
52,미국,가전·전자·통신기기,면세점,-,-,-,-,-,-,-,...,29,32,65,38,72,52,66,116,107,49
53,미국,가전·전자·통신기기,면세점 이외,-,-,-,-,-,-,-,...,2546,2362,1672,1678,1651,1834,1779,1721,3059,1738
54,미국,소프트웨어,계,128,182,113,163,116,147,103,...,37,125,175,251,172,269,88,156,118,338
55,미국,소프트웨어,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
56,미국,소프트웨어,면세점 이외,-,-,-,-,-,-,-,...,37,125,175,251,172,269,88,156,118,338
57,미국,서 적,계,1006,1074,837,993,1579,1964,1406,...,1876,1856,2089,1790,2033,1977,2259,1563,2596,1720
58,미국,서 적,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
59,미국,서 적,면세점 이외,-,-,-,-,-,-,-,...,1876,1856,2089,1790,2033,1977,2259,1563,2596,1720
60,미국,사무·문구,계,18,568,17,32,60,61,42,...,30,79,58,55,85,83,198,72,83,101
61,미국,사무·문구,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
62,미국,사무·문구,면세점 이외,-,-,-,-,-,-,-,...,30,79,58,55,85,83,198,72,83,101
63,미국,음반·비디오·악기,계,821,849,781,827,1109,1339,1174,...,2281,2647,2362,3014,3932,4550,3857,5191,5762,4786
64,미국,음반·비디오·악기,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
65,미국,음반·비디오·악기,면세점 이외,-,-,-,-,-,-,-,...,2281,2647,2362,3014,3932,4550,3857,5191,5762,4786
66,미국,의류 및 패션 관련상품,계,9208,8602,6927,8055,14482,11427,11375,...,11173,14483,11815,12169,10233,13658,12324,13683,13368,16161
67,미국,의류 및 패션 관련상품,면세점,-,-,-,-,-,-,-,...,148,129,116,154,134,118,110,115,95,91
68,미국,의류 및 패션 관련상품,면세점 이외,-,-,-,-,-,-,-,...,11025,14354,11699,12015,10099,13540,12214,13568,13273,16070
69,미국,스포츠·레저용품,계,491,541,527,481,658,543,663,...,874,1121,1181,1439,1200,1072,1152,1602,3150,864
70,미국,스포츠·레저용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,1,3,4,0,0,0
71,미국,스포츠·레저용품,면세점 이외,-,-,-,-,-,-,-,...,874,1121,1181,1439,1199,1069,1148,1602,3150,864
72,미국,화장품,계,4595,11223,6176,7061,8491,10407,10980,...,15997,22310,13909,11219,9717,15738,10817,11310,13999,13494
73,미국,화장품,면세점,-,-,-,-,-,-,-,...,9202,11913,4927,3311,2028,1780,2366,2647,1550,1271
74,미국,화장품,면세점 이외,-,-,-,-,-,-,-,...,6795,10397,8982,7908,7689,13958,8451,8663,12449,12223
75,미국,아동·유아용품,계,610,1099,603,619,746,709,649,...,592,722,766,793,730,1056,815,1153,1702,1928
76,미국,아동·유아용품,면세점,-,-,-,-,-,-,-,...,1,0,1,0,2,0,0,0,0,0
77,미국,아동·유아용품,면세점 이외,-,-,-,-,-,-,-,...,591,722,765,793,728,1056,815,1153,1702,1928
78,미국,음·식료품,계,673,577,628,631,221,552,212,...,417,265,277,311,239,278,336,313,602,424
79,미국,음·식료품,면세점,-,-,-,-,-,-,-,...,89,103,75,100,80,125,111,73,64,70
80,미국,음·식료품,면세점 이외,-,-,-,-,-,-,-,...,328,162,202,211,159,153,225,240,538,354
81,미국,농축수산물,계,160,189,192,193,5,3,0,...,0,2,1,0,0,33,2,2,7,2
82,미국,농축수산물,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
83,미국,농축수산물,면세점 이외,-,-,-,-,-,-,-,...,0,2,1,0,0,33,2,2,7,2
84,미국,생활용품 및 자동차용품,계,1871,6605,2189,2207,2291,2641,2688,...,2349,2276,2483,2357,2150,2159,2174,2410,3409,3713
85,미국,생활용품 및 자동차용품,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,2,0
86,미국,생활용품 및 자동차용품,면세점 이외,-,-,-,-,-,-,-,...,2349,2276,2483,2357,2150,2159,2174,2410,3407,3713
87,미국,기 타,계,1946,2570,2682,2237,1986,2282,2497,...,2935,4075,3793,3540,3633,4445,3820,4273,5897,7353
88,미국,기 타,면세점,-,-,-,-,-,-,-,...,0,0,0,0,0,0,0,0,0,0
89,미국,기 타,면세점 이외,-,-,-,-,-,-,-,...,2935,4075,3793,3540,3633,4445,3820,4273,5897,7353

# 분석과 시각화를 위한 tidy data 만들기

In [19]:
df = df_raw.melt(id_vars=["국가(대륙)별", "상품군별", "판매유형별"], 
                 var_name="기간", value_name="백만원")
df.shape

(9450, 5)

In [20]:
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원
0      합계          합계       계  2014 4/4  213216
1      합계          합계     면세점  2014 4/4       -
2      합계          합계  면세점 이외  2014 4/4       -
3      합계  컴퓨터 및 주변기기       계  2014 4/4    3529
4      합계  컴퓨터 및 주변기기     면세점  2014 4/4       -

# 데이터 전처리

## 기간에서 연도를 분리하기

In [24]:
df["연도"] = df["기간"].map(lambda x : int(x.split()[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원    연도
0      합계          합계       계  2014 4/4  213216  2014
1      합계          합계     면세점  2014 4/4       -  2014
2      합계          합계  면세점 이외  2014 4/4       -  2014
3      합계  컴퓨터 및 주변기기       계  2014 4/4    3529  2014
4      합계  컴퓨터 및 주변기기     면세점  2014 4/4       -  2014

In [27]:
df["분기"] = df["기간"].map(lambda x: int(x.split()[1].split("/")[0]))
df.head()

  국가(대륙)별        상품군별   판매유형별        기간     백만원    연도  분기
0      합계          합계       계  2014 4/4  213216  2014   4
1      합계          합계     면세점  2014 4/4       -  2014   4
2      합계          합계  면세점 이외  2014 4/4       -  2014   4
3      합계  컴퓨터 및 주변기기       계  2014 4/4    3529  2014   4
4      합계  컴퓨터 및 주변기기     면세점  2014 4/4       -  2014   4

## 금액을 수치데이터로 표현하기 위해 데이터 타입 변경하기

In [32]:
df["백만원"] = df["백만원"].replace("-", pd.np.nan).astype(float)
df.head()

<ipython-input-32-820155e563c8>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead
  df["백만원"] = df["백만원"].replace("-", pd.np.nan).astype(float)

  국가(대륙)별        상품군별   판매유형별        기간       백만원    연도  분기
0      합계          합계       계  2014 4/4  213216.0  2014   4
1      합계          합계     면세점  2014 4/4       NaN  2014   4
2      합계          합계  면세점 이외  2014 4/4       NaN  2014   4
3      합계  컴퓨터 및 주변기기       계  2014 4/4    3529.0  2014   4
4      합계  컴퓨터 및 주변기기     면세점  2014 4/4       NaN  2014   4

## 필요없는 데이터 제거하기

In [41]:
df = df[(df["국가(대륙)별"] != "합계") | (df["상품군별"] != "합계")].copy()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9387 entries, 3 to 9449
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   국가(대륙)별  9387 non-null   object
 1   상품군별     9387 non-null   object
 2   판매유형별    9387 non-null   object
 3   기간       9387 non-null   object
 4   백만원      6705 non-null   float64
 5   연도       9387 non-null   int64
 6   분기       9387 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 586.7+ KB

In [43]:
#결측치 보기
df.isnull().sum()

국가(대륙)별       0
상품군별          0
판매유형별         0
기간            0
백만원        2682
연도            0
분기            0
dtype: int64

# K-Beauty 시각화

## 전체 상품군 판매액

In [45]:
df_total = df[df["판매유형별"] == "계"].copy()
df_total.head()

   국가(대륙)별        상품군별 판매유형별        기간      백만원    연도  분기
3       합계  컴퓨터 및 주변기기     계  2014 4/4   3529.0  2014   4
6       합계  가전·전자·통신기기     계  2014 4/4  14200.0  2014   4
9       합계       소프트웨어     계  2014 4/4    595.0  2014   4
12      합계         서 적     계  2014 4/4   1656.0  2014   4
15      합계       사무·문구     계  2014 4/4   8486.0  2014   4