In [1]:
%mv /Users/nayeonkim/Downloads/한국언론진흥재단_코로나19이후국민의일상변화조사_코로나19로\ 인한\ 감정\ 변화_20201231.csv .

In [7]:
%pwd

'/Users/nayeonkim/Desktop/Dongguk/Naver Boost Course(Data Science)/file-path'

In [2]:
%ls

file-path-setting.ipynb
한국언론진흥재단_코로나19이후국민의일상변화조사_코로나19로 인한 감정 변ᄒ.csv

In [3]:
import pandas as pd

In [6]:
pd.read_csv("data/한국언론진흥재단_코로나19이후국민의일상변화조사_코로나19로 인한 감정 변ᄒ.csv", encoding="cp949")

            항목    증가  변화 없음    감소
0   걱정 또는 스트레스  78.0   19.0   3.0
1    불안 또는 두려움  65.4   30.2   4.4
2      짜증 또는 화  60.8   35.5   3.7
3     분노 또는 혐오  59.5   36.5   4.0
4  무기력감 또는 좌절감  52.4   43.0   4.6
5   외로움 또는 우울함  46.4   50.4   3.2
6   자긍심 또는 자부심  35.4   40.3  24.3
7   감사함 또는 안도감  29.3   46.1  24.6

In [9]:
True == "1"

False

In [10]:
arr = ["python", "c", "java"]
for i, val in enumerate(arr):
    print(i, val)

0 python
1 c
2 java